{
    "trailingComma": "none",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.js",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
